# Database configures for local use docker
DB_HOST=db
DB_USER=root
DB_PASS=Admin@123
DB_NAME=expenses_tracker
DB_CHAR=utf8mb4
DB_PORT=3306

PASS_HASH_ALG=PASSWORD_DEFAULT
TEXT_HASH_ALG=sha256

# Number of fake users to be feeded to the users table
NUM_USERS=100


## Redis configure for docker
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_READ_WRITE_TIMEOUT=0
REDIS_USERNAME='root'
REDIS_PASSWORD=''
REDIS_TIMEOUT=0.0
REDIS_SCHEME=tcp


# JWT secret key to encoding and decoding
JWT_SECRET="sec!ReTMaedae423*&"


# Path to the file that use to get token from the firebase to use it in creating push notification
GOOGLE_APPLICATION_CREDENTIALS="../private/budget-manager-8a82d-firebase-adminsdk-r5ce7-47face41df.json"


